
#main {
    position: relative;
    width:100%;
    height:82%;
    min-height:500px;
    text-align: center;
}

#main #bg {
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    z-index:1;
    abackground-size:cover;
    background-position: center;
    background-image: url("./../img/home/bg/c2.gif");
}

#main .cover {
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    z-index:2;
    background:rgba(0, 0, 0, 0.8);
}

#main .stuff {
    position: relative;
    z-index:4;
}
#main .stuff h1 {
    position: relative;
    font-size:50px;
    font-weight: 700;
    display: block;
    color:#fff;
    user-select: none;
    margin-top:40px;
    margin-bottom:39px;
    letter-spacing: 2px;
}
#main .stuff h1::after {
    display: block;
    content:" ";
    position: absolute;
    left:-3px;
    width:calc(100% - -3px * 2);
    top:calc(100% + 6px);
    height:7px;
    background:#fff;
    border-radius: 7px;
}
#main .stuff .started {
    display: inline-block;
    width:210px;
    padding:16px 0;
    font-size:26px;
    font-weight:500;
    color:#def;
    border:4px solid #def;
    cursor:pointer;
    background:rgba(180, 200, 220, 0.4);
    border-radius:14px;
}
#main .stuff .started:hover {
    background:rgba(180, 200, 220, 0.8);
    color:#fff;
    border-color: #fff;

}

#links {
    background:#f5f5f5;
    background:#f3faf3;
    width:100%;
    padding:50px 15px 55px;
}
#links .link {
    display: inline-block;
    vertical-align: top;
    margin:0px 8px;
    width:230px;
    max-width:calc(25% - 20px);
}
#links .link .bg {
    display: inline-block;
    width:110px;
    height:110px;
    background-size: cover;
}
#links .link.bulb .bg { background-image: url("./../img/home/bulb.png"); }
#links .link.cloud .bg { background-image: url("./../img/home/cloud.png"); }
#links .link.gear .bg { background-image: url("./../img/home/gear.png"); }
#links .link.edit .bg { background-image: url("./../img/home/edit.png"); }
#links .link .subtitle {
    width: 100%;
    margin-top:24px;
    font-weight:500;
    font-size:24px;
}
#links .link .description {
    font-family: "Roboto";
    width:100%;
    padding:0 8px;
    font-size:14px;
    letter-spacing: 0.5px;
    font-weight:300;
    margin-top:24px;
    line-height:24px;
    color:#777;
}


#features {
    width:100%;
    text-align: center;
    padding:46px 0 50px;
    background:#e5e5e5;
    font-size: 0;
}
#features .center {
    display: inline-block;
    max-width:1100px;
    width:100%;
}
#features .center .feature {
    display: inline-block;
    vertical-align: top;
    width:14%;
    margin:0 3%;
    height:70px;
    padding:10px 12px;
    background-size: contain;
    background-position:center;
    background-repeat: no-repeat;
}
#features .center .feature:first-child {
    margin-bottom:34px;
}
#features .center .feature.time { background-image: url("./../img/home/feature/time.png"); }
#features .center .feature.wsj { background-image: url("./../img/home/feature/wsj.png"); }
#features .center .feature.bi { background-image: url("./../img/home/feature/bi.png"); }
#features .center .feature.today { background-image: url("./../img/home/feature/today.png"); }
#features .center .feature.forbes { background-image: url("./../img/home/feature/forbes.png"); }
#features .center .feature.bb { background-image: url("./../img/home/feature/bb.png"); }
#features .center .feature.ust { background-image: url("./../img/home/feature/ust.png"); }
#features .center .feature.fox { background-image: url("./../img/home/feature/fox.png"); }
#features .center .feature.wired { background-image: url("./../img/home/feature/wired.png"); }
#features .center .feature.bbc { background-image: url("./../img/home/feature/bbc.png"); }


#footer {
    width:100%;
    background:#114;
    padding:30px 0;
}
#footer .copyright {
    width: 100%;
    text-align: center;
    color:#fff;
    font-size:18px;
}







