
#login {
	padding-top:50px;
	background: #fffafa;
	min-height: 100%;
}

#login .carousel {
	position: relative;
	display: inline-block;
	width:300px;
	overflow:hidden;
	font-size:0;
}
#login .carousel .shift {
	position: relative;
	display: block;
	width:100%;
	overflow:visible;
	white-space: nowrap;
	left:0%;
}
#login .carousel.a .shift {
	left:-100%;
}
#login .carousel .shift .screen {
	display: inline-block;
	vertical-align: top;
	width:100%;
}

#login h1 {
	display: block;
	font-size:40px;
	font-weight: normal;
	font-family:Raleway;
	user-select: none;
	margin-bottom:17px;
}
#login .subtext {
	font-family: "Open Sans";
	font-size:11px;
	cursor:pointer;
	color:#aaa;
	padding-bottom:3px;
	user-select: none;
}
#login .subtext:hover {
	text-decoration: underline;
}
#login .subtext:active {
	color:#555;
}
#login .holder {
	width:250px;
	display: inline-block;
	text-align: center;
}
#login .field {
	display: block;
	margin-top:20px;
	width:100%;
}
#login .field .label {
	width:100%;
	font-size:12px;
	font-family: Raleway;
	color:#888;
	text-align: left;
	margin-bottom:7px;
	user-select: none;
}
#login .field input {
	width: 100%;
	font-family: "Open Sans";
	font-size:18px;
	color:#222;
	padding:10px 14px 12px;
	border-color:#8bd;
	background:#f8f8f8;
	outline:none;
	box-shadow: inset 0px 0px 1px #226;
}
#login .field input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px #f8f8f8 inset;
}
#login .field input:focus {
	border-color:#246;
	background:#f8f8f8;
}
#login .button {
	margin-top:45px;
	margin-bottom: 50px;
	display: inline-block;
	padding:15px 40px 16px;
	font-family: Raleway;
	font-size:18px;
	cursor: pointer;
	border:1px solid #259;
	color:#259;
	cursor: pointer;
	background:#eef;
	user-select: none;
}
#login .button:hover {
	border-color: #59b;
	color:#59b;
}
#login .button:active {
	color:#38a;
	background:#e5eef5;
	box-shadow: inset 0px 0px 2px #000;
}
#login .error {
	display: none;
	color:#f00;
	font-size:14px;
	margin-top:20px;
}
#login .login .error::before {
	content:"Invalid username or password";
}
#login .error.show {
	display: block;
}




