
#login {
	padding-top:50px;
}

#login .carousel {
	position: relative;
	display: inline-block;
	width:300px;
	overflow:hidden;
	font-size:0;
}
#login .carousel .shift {
	position: relative;
	display: block;
	width:100%;
	overflow:visible;
	white-space: nowrap;
	left:0%;
}
#login .carousel.a .shift {
	left:-100%;
}
#login .carousel .shift .screen {
	display: inline-block;
	vertical-align: top;
	width:100%;
}

#login h1 {
	display: block;
	font-size:40px;
	font-weight: normal;
	user-select: none;
	margin-bottom:3px;
}
#login .subtext {
	font-size:14px;
	cursor:pointer;
	color:#aaa;
	padding-bottom:3px;
	user-select: none;
}
#login .subtext:hover {
	text-decoration: underline;
}
#login .subtext:active {
	color:#555;
}
#login .holder {
	width:250px;
	display: inline-block;
	text-align: center;
}
#login .field {
	display: block;
	margin-top:10px;
	width:100%;
}
#login .field .label {
	width:100%;
	font-size:16px;
	color:#888;
	text-align: left;
	margin-bottom:4px;
	user-select: none;
}
#login .field input {
	width: 100%;
	font-size:24px;
	color:#222;
	padding:4px 6px 6px;
	border-radius: 6px;
	border-color:#8bd;
	outline:none;
	box-shadow: inset 0px 0px 1px #226;
}
#login .field input:focus {
	border-color:#246;
}
#login .button {
	margin-top:35px;
	display: inline-block;
	padding:15px 40px 16px;
	font-size:24px;
	cursor: pointer;
	border-radius: 7px;
	border:2px solid #259;
	color:#259;
	cursor: pointer;
	background:#eef;
	user-select: none;
}
#login .button:hover {
	border-color: #59b;
	color:#59b;
}
#login .button:active {
	color:#38a;
	background:#e5eef5;
	box-shadow: inset 0px 0px 2px #000;
}




