
#mapbox {
    position: absolute;
    left:0;
    top:0;
    width:50%;
    min-width:450px;
    max-width:calc(100% - 450px);
    height:100%;
    font-size:0;
}

#sidebox {
    position: absolute;
    right:0;
    top:0;
    width:50%;
    min-width:450px;
    max-width:calc(100% - 450px);
    height:100%;
}

#mapbox {
    padding-right:2px;
    background:#eee;
    min-width:;
}
#sidebox {
    padding-left:2px;
    background:#fee;
}
#sidebox > .resizemove {
    position: absolute;
    left:-3px;
    top:0;
    width:calc(3px * 2);
    height:100%;
    cursor:ew-resize;
}
#sidebox > .resizemove::before {
    position: absolute;
    content:" ";
    left:2px;
    width:2px;
    top:0;
    height:100%;
    background:#888;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

