
#app.mapapp {
    overflow: hidden;
}


#maploading {
    display: none;
    position: absolute;
    z-index:2;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.6);
}
.mapapp.loading #maploading {
    display: block;
}

#mapbox {
    position: absolute;
    z-index:1;
    right:0;
    top:0;
    width:100%;
    /*min-width:450px;
    max-width:calc(100% - 450px);*/
    height:100%;
    font-size:0;
    overflow: hidden;
}

.mapapp .sidebox {
    position: absolute;
    z-index:1;
    top:0;
    width:50%;
    /*min-width:450px;
    max-width:calc(100% - 450px);*/
    height:100%;
}

.mapapp .sidebox.right {
    right:-50%;
}
.mapapp .sidebox.left {
    left:-50%;
}

.mapapp #mapbox {
    padding-right:2px;
    background:#eee;
}

.mapapp .sidebox {
    background:#fee;
}

.mapapp .sidebox > .resizemove {
    position: absolute;
    top:0;
    width:calc(3px * 2);
    height:100%;
    cursor:ew-resize;
    z-index:4;
}
.mapapp .sidebox.left > .resizemove {
    right:-3px;
}
.mapapp .sidebox.right > .resizemove {
    left:-3px;
}
.mapapp .sidebox > .resizemove::before {
    position: absolute;
    content:" ";
    left:2px;
    width:2px;
    top:0;
    height:100%;
    background:#888;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}



#map {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:10;
    user-select: none;
}

#mapbox .maplabel {
    position: absolute;
    z-index:11;
    font-family: Raleway;
    font-weight:300;
    padding:7px 11px 9px;
    font-size:15px;
    color:#000;
    background:#fff;
    cursor: pointer;
    user-select: none;
    border:2px solid rgba(0,0,0,0.2);
}
#mapbox .maplabelstatic {
    border-color:rgba(0, 0, 90, 1);
    background:rgba(0, 0, 90, 0.2);
    color:#006;
    text-shadow:1px 1px rgba(200, 200, 200, 1);
}
#mapbox .maplabel.centertop {
    margin:0 auto;
    top:40px;
    width:200px;
    left:calc(50% - 100px);
    text-align: center;
    font-size:18px;
    padding:7px 11px 8px;
}
#mapbox .switchregion {
    top:11px;
    right:8px;
}
#mapbox.fullstates .switchregion {
    display: none;
}
#mapbox .selectstatelabel {
    display: none;
}
#mapbox.fullstates .selectstatelabel {
    display: block;
}
#mapbox .switchregion:hover {
    background:#f4f4f4;
}
#mapbox .switchregion:active {
    background:#f4f4f4;
}
#mapbox .selectregion {
    position: absolute;
    z-index:11;
    left:0;
    top:100%;
    width:100%;
    height: 100%;
    background:rgba(255,255,255,0.75);
    color:#000;
    font-family:"Open Sans";
    padding:20px 25px;
    user-select: none;
}
#mapbox .selectregion.show {
    top:0%;
}
#mapbox .selectregion h1 {
    font-size:30px;
    display: block;
    text-align: left;
    margin-right:90px;
    padding-bottom:7px;
    border-bottom:1px solid #000;
}
#mapbox .selectregion .regions {
    padding-top:10px;
}
#mapbox .selectregion .region {
    font-size:20px;
    cursor:pointer;
    margin:10px;
    user-select: none;
}
#mapbox .selectregion .region:hover { color:#ccc; }
#mapbox .selectregion .region:active { color:#999; }
#mapbox .selectregion .x {
    position: absolute;
    top:15px;
    right:25px;
    font-size:30px;
    cursor: pointer;
    user-select: none;
}
#mapbox .selectregion .x:hover { color:#ccc; }
#mapbox .selectregion .x:active { color:#999; }


#map .leaflet-control-attribution {
    display:none;
}





.sidebox {
    user-select: none;
    overflow:hidden;
    font-family:"Open Sans";
}
.sidebox.left {
    padding-right:2px;
}
.sidebox.right {
    padding-left:2px;
}

.sidebox .titletop {
    font-family: "Blogger Sans";
    position: relative;
    width:100%;
    padding:15px 20px 4px;
    height:56px;
}
.sidebox .titletop::after {
    content:" ";
    font-size:0;
    position: absolute;
    left:20px;
    bottom:0;
    width:calc(100% - 70px);
    height:1px;
    background:#000;
}
.sidebox .content {
    height:calc(100% - 56px);
    padding:12px 22px 15px;
    overflow-y:auto;
}

.sidebox .titletop .link {
    display: inline-block;
    font-size:29px;
    margin-left:2px;
    margin-right:15px;
    color:#aaa;
    cursor: pointer;
}
.sidebox .titletop .link:hover {
    color:#777;
}
.sidebox .titletop .link:active {
    color:#116;
}
.sidebox .titletop .link.active {
    color:#113;
    cursor:default;
}

.sidebox .label {
    user-select: none;
    font-size:15px;
}


#cview .yearbox {
    margin-top:6px;
    width:100%;
    border:1px solid #aaa;
    box-shadow: inset 0px 0px 1px 1px rgb(0, 0, 0, 0.15);
    background:#fff;
    height:80px;
    overflow-y:auto;
    overflow-x:hidden;

}
#cview .yearbox .yearselect {
    width:100%;
    padding:1px 6px;
    height:20px;
    cursor:pointer;
    font-size:0;
}
#cview .yearbox .yearselect:hover {
    background:#cef;
}
#cview .yearbox .yearselect.active {
    background:#cef;
}
#cview .yearbox .yearselect > div {
    font-size:13px;
    display: inline-block;
}
#cview .yearbox .yearselect .year {
    width:80px;
}
#cview .yearbox .yearselect .votes {
    width:90px;
}
#cview .yearbox .yearselect .votes::after { content: " votes"; }
#cview .yearbox .yearselect .population {
    width:130px;
}
#cview .yearbox .yearselect .population::before {
    content:"/";
    margin-right:10px;
}
#cview .yearbox .yearselect .population::after { content: " people"; }



#cview .infoselects {
    width: calc(100% - 60px);
    margin-top:16px;
    border-bottom:1px solid #000;
    padding-bottom:4px;
}
#cview .infoselects .infoselect {
    display: inline-block;
    margin-left:3px;
    margin-right:20px;
    color:#777;
    cursor:not-allowed;
}
#cview .infoselects .infoselect.ok {
    color:#000;
    cursor:pointer;
    position: relative;
}
#cview .infoselects .infoselect.ok.active {
    color:#007;
}
#cview .infoselects .infoselect::after {
    content:" ";
    font-size: 0;
    position: absolute;
    left:0;
    width:100%;
    height:1px;
    background:#007;
    transition: all 0.2s ease-out;
    opacity:0;
    bottom:-4px;
}
#cview .infoselects .infoselect.ok.active::after {
    opacity:1;
    bottom:0px;
}

#cview .infos {

}
#cview .infos .info {
    margin-top:12px;
    display: none;
}
#cview .infos .info.active {
    display: block;
}



#cview .info {
    padding:0 5px;
}
#cview .info .lrfield {
    width: 100%;
    display: block;
    font-size: 0;
    margin-top:7px;
}
#cview .info .lrfield > div {
    display: inline-block;
    width: 130px;
    font-size:15px;
}
#cview .info .lrfield .left {
    font-weight: 600;
}
#cview .info .lrfield .right {
    display: inline-block;
    width: calc(100% - 130px);
}
#cview .info .votes {
    margin-top:7px;
    font-size:0;
}
#cview .info .votes .label {
    font-size:15px;
    font-weight: 600;
}
#cview .info .votes .bar {
    position: relative;
    width:100%;
    height:30px;
    background:#ddd;
    margin-top:6px;
    white-space: nowrap;
    overflow: visible;
}
#cview .info .votes .bar > div {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width:0%;
    box-shadow:inset 0px 0px 2px 2px rgba(0,0,0,0.2);
    height: 100%;
}
#cview .info .votes .bar [DEM] { background:#55f; }
#cview .info .votes .bar [REP] { background:#d44; }
#cview .info .votes .bar [OTHER] { background:#ccc; }
#cview .info .votes .bar > div .hover {
    position: absolute;
    left:50%;
    top:100%;
    text-align: center;
    opacity:0;
    transition: all 0.2s ease-out;
    max-width:30px;
}
#cview .info .votes .bar > div:hover .hover {
    opacity:1;
    max-width:140px;
}
#cview .info .votes .bar > div .hover::before {
    display: inline-block;
    content:" ";
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid black;
    position: absolute;
    z-index:2;
    left:-8px;
}
#cview .info .votes .bar [DEM] .hover::before { border-bottom-color:#44d; }
#cview .info .votes .bar [REP] .hover::before { border-bottom-color:#d44; }
#cview .info .votes .bar [OTHER] .hover::before { border-bottom-color:#777; }
#cview .info .votes .bar > div .hover div {
    font-size:12px;
    line-height:15px;
    position: relative;
    z-index:1;
    left:-50%;
    top:8px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    padding:4px 8px 5px;
    color:#fff;
    overflow: hidden;
}
#cview .info .votes .bar [DEM] .hover div { background:#44d; }
#cview .info .votes .bar [REP] .hover div { background:#d44; }
#cview .info .votes .bar [OTHER] .hover div { background:#777; }



#credistrict .constraint {
    margin-bottom:9px;
}
#credistrict .label {
    display: inline-block;
    font-size:13px;
}
#credistrict .label span {
    font-weight: 600;
}
#credistrict .slider {
    display: block;
    width: 100%;
    margin-top:5px;
}
#credistrict .algorithm {
    padding-top: 8px;
}
#credistrict .button {
    font-size:13px;
    margin-right:10px;
}
#credistrict .algresults {
    display: none;
    margin-top:15px;
}
#credistrict .algresults.show {
    display: block;
}
#credistrict .progressbar {
    position: relative;
    width: 100%;
    height:30px;
    border-radius:3px;
    overflow: hidden;
    background:#ddd;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.18);
}
@keyframes slideshow {
  0%    { left: -280px; }
  100%  { left: 0px; }
}
#credistrict .progressbar .progress {
    position: relative;
    width:0%;
    max-width: 100%;
    height:100%;
    background:#aca;
    box-shadow: inset 0px 0px 1px 1px rgba(30, 100, 30, 0.2);
}
#credistrict .progressbar .scrolling {
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    white-space: nowrap;
    height: 30px;
    font-size: 0;
    overflow: visible;
    animation: slideshow 4s linear infinite;
}
#credistrict .progressbar .scrolling.stop {
    animation-play-state: paused;
}
#credistrict .progressbar .scrolling > div {
    display: inline-block;
    width: 0;
    height: 0;
}
#credistrict .progressbar .scrolling > div.ul {
    border-top:30px solid #aaa;
    border-right:30px solid transparent;
    margin-right:10px;
}
#credistrict .progressbar .scrolling > div.br {
    border-bottom:30px solid #aaa;
    border-left:30px solid transparent;
}
#credistrict .algresults .reset {
    margin-top:15px;
}








