
#app.mapapp {
    overflow: hidden;
}


#maploading {
    display: none;
    position: absolute;
    z-index:2;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.6);
}
.mapapp.loading #maploading {
    display: block;
}

#mapbox {
    position: absolute;
    z-index:1;
    right:0;
    top:0;
    width:100%;
    /*min-width:450px;
    max-width:calc(100% - 450px);*/
    height:100%;
    font-size:0;
    overflow: hidden;
}

.mapapp .sidebox {
    position: absolute;
    z-index:1;
    top:0;
    width:50%;
    /*min-width:450px;
    max-width:calc(100% - 450px);*/
    height:100%;
}

.mapapp .sidebox.right {
    right:-50%;
}
.mapapp .sidebox.left {
    left:-50%;
}

.mapapp #mapbox {
    padding-right:2px;
    background:#eee;
}

.mapapp .sidebox {
    background:#f8f8f8;
}

.mapapp .sidebox > .resizemove {
    position: absolute;
    top:0;
    width:calc(3px * 2);
    height:100%;
    cursor:ew-resize;
    z-index:4;
}
.mapapp .sidebox.left > .resizemove {
    right:-3px;
}
.mapapp .sidebox.right > .resizemove {
    left:-3px;
}
.mapapp .sidebox > .resizemove::before {
    position: absolute;
    content:" ";
    left:2px;
    width:2px;
    top:0;
    height:100%;
    background:#888;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}



#map {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:10;
    user-select: none;
}

#map .popup {
    position: absolute;
    display: block;
    min-width: 10px;
    min-height: 10px;
    background:#9cf;
    z-index:1001;
    border:1px solid rgba(0, 0, 90, 1);
    background:rgba(233, 233, 255, 0.92);
    padding:9px 14px 9px 14px;
    font-size:13px;
    font-family: "Lato";
}
#map .popup.ignore {
    color:#555;
}
#map .popup.hide {
    display: none;
}
#map .popup .title {
    font-weight:700;
    font-size:14px;
    margin-bottom:2px;
}
#map .popup.ignore .title {
    margin-bottom: 0;
}
#map .popup .ignore {
    font-weight:500;
    font-size:12px;
    margin-bottom:4px;
    color:#888;
}
#map .popup .ignore::before {
    content:"Excluding this precinct from being redistricted";
}
#map .popup .info {
    white-space: nowrap;
    margin-bottom:2px;
}
#map .popup .info > div {
    display: inline-block;
    vertical-align: top;
}
#map .popup .info div:first-child {
    font-weight:400;
    width:140px;
}
#map .popup .info div:last-child {
    font-weight:300;
    min-width:100px;
}
#map .popup .votepadding {
    height:16px;
}
#map .popup .spectrum {
    position: absolute;
    overflow: visible;
    bottom:0;
    left:0;
    width:100%;
    height:6px;
    background: linear-gradient(to right, #cc3333 0%, #a9a 50%, #3333cc 100%);
}
#map .popup .spectrum .tick {
    position: absolute;
    bottom:100%;
    width:1px;
    height:15px;
    background:#333;
}
#map .popup .spectrum .text {
    position: absolute;
    bottom:calc(100% + 1px);
    font-size:11px;
    color:#222;
    font-family: "Open Sans";
    font-weight: 300;
}
#map .popup .spectrum .text.nodata {
    width:calc(100% - 12px);
    text-align: center;
}


#mapbox .maplabel {
    position: absolute;
    z-index:11;
    font-family: "Open Sans";
    font-weight:400;
    padding:5px 9px 6px;
    font-size:15px;
    color:#000;
    background:#fff;
    cursor: pointer;
    user-select: none;
    border:2px solid rgba(0,0,0,0.2);
}
#mapbox .maplabelstatic {
    border-color:rgba(0, 0, 90, 1);
    background:rgba(0, 0, 90, 0.2);
    color:#006;
    text-shadow:0px 2px rgba(200, 200, 200, 1);
}
#mapbox .maplabel.centertop {
    font-family: Raleway;
    font-weight:300;
    margin:0 auto;
    top:40px;
    width:200px;
    left:calc(50% - 100px);
    text-align: center;
    font-size:18px;
    padding:7px 11px 8px;
}
#mapbox .switchregion {
    top:11px;
    right:8px;
}
#mapbox .resetview {
    top:53px;
    right:8px;
}
#mapbox.fullstates .maplbutton {
    display: none;
}
#mapbox .selectstatelabel {
    display: none;
}
#mapbox.fullstates .selectstatelabel {
    display: block;
}
#mapbox .maplbutton:hover {
    background:#f4f4f4;
}
#mapbox .maplbutton:active {
    background:#f4f4f4;
}
#mapbox .search {
    position: absolute;
    z-index:11;
    bottom:11px;
    right:11px;
    width:250px;
    text-align: right;
}
#mapbox .search input {
    width:50%;
    font-family: "Open Sans";
    font-weight:400;
    padding:5px 30px 6px 7px;
    font-size:13px;
    color:#000;
    background:#fff;
    border:2px solid rgba(0,0,0,0.2);
}
#mapbox .search.focused input {
    width:100%
}
#mapbox .search input:focus {
    outline:none;
    border-color:rgba(30, 70, 150, 0.6);
}
#mapbox.fullstates .search {
    display: none;
}
#mapbox .search .icon {
    position: absolute;
    right:8px;
    bottom:9px;
    width:15px;
    height:15px;
    background-image: url("/img/search.png");
    background-size: cover;
}
#mapbox .search .results2 {
    position: absolute;
    bottom:100%;
    right:0;
    width:50%;
    height:0px;
    overflow: hidden;
    border:2px solid rgba(30, 70, 150, 0.0);
    border-bottom: none;
}
#mapbox .search.focused .results2 {
    width:100%;
    height:calc(24px * 8 + 2px);
    border-color:rgba(30, 70, 150, 0.5);
}
#mapbox .search .results {
    width:calc(250px - 2px * 2);
    min-height:100%;
    background:#fff;
    text-align: center;
}
#mapbox .search .results .result {
    position: relative;
    width:100%;
    height:24px;
    font-size:0;
    text-align: left;
    padding:5px 5px 0 6px;
    border-bottom:1px solid rgba(0,0,0,0.2);
    cursor:pointer;
}
#mapbox .search .results .result .name {
    display: inline-block;
    font-size:12.5px;
    font-weight:300;
    width:calc(100% - 50px);
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow: hidden;
}
#mapbox .search .results .result .type {
    position: absolute;
    right:5px;
    bottom:4px;
    font-size:11px;
    font-weight:300;
    color:#666;
}
#mapbox .search .results .result match {
    font-weight:600;
}
#mapbox .search .results .result:hover {
    background:#eee;
}
#mapbox .search .results .result:nth-child(8) {
    border-bottom:none;
}
#mapbox .search .results::after {
    display: none;
    text-align: center;
    padding-top:25px;
    color:#888;
    font-size:11px;
    font-weight:300;
    border-bottom:1px solid rgba(150, 150, 150, 0.6);
}
#mapbox .search .results.blank::after {
    display: inline-block;
    content:"Enter something in the search box";
}
#mapbox .search .results.empty::after {
    display: inline-block;
    content:"No results found";
}



#map .leaflet-control-attribution {
    display:none;
}
#map .changemarker {
    margin-left:0 !important;
    margin-top:0 !important;
    width:0 !important;
    height:0 !important;
    transition: all 0.2s ease-out !important;
}
#map .changemarker.show {
    margin-left:-8px !important;
    margin-top:-50px !important;
    width:16px !important;
    height:50px !important;
}





.sidebox {
    user-select: none;
    overflow:hidden;
    font-family:"Open Sans";
}
.sidebox.left {
    padding-right:2px;
}
.sidebox.right {
    padding-left:2px;
}

.sidebox .titletop {
    font-family: "Raleway";
    position: relative;
    width:100%;
    padding:15px 20px 4px;
    height:56px;
}
.sidebox .titletop::after {
    content:" ";
    font-size:0;
    position: absolute;
    left:23px;
    bottom:0;
    width:calc(100% - 80px);
    height:1px;
    background:#000;
}
.sidebox .content {
    height:calc(100% - 56px);
    padding:12px 22px 15px;
    overflow-y:auto;
    overflow-x:hidden;
}

.sidebox .titletop .link {
    display: inline-block;
    font-size:29px;
    margin-left:2px;
    margin-right:15px;
    color:#aaa;
    cursor: pointer;
}
.sidebox .titletop .link:hover {
    color:#777;
}
.sidebox .titletop .link:active {
    color:#116;
}
.sidebox .titletop .link.active {
    color:#113;
    cursor:default;
}

.sidebox .label {
    user-select: none;
    font-weight:300;
    font-size:13px;
}


#cview .yearbox {
    margin-top:6px;
    width:100%;
    border:1px solid #aaa;
    box-shadow: inset 0px 0px 1px 1px rgb(0, 0, 0, 0.15);
    background:#fff;
    height:80px;
    overflow-y:auto;
    overflow-x:hidden;

}
#cview .yearbox .yearselect {
    width:100%;
    padding:1px 6px;
    height:20px;
    cursor:pointer;
    font-size:0;
    font-weight: 300;
}
#cview .yearbox .yearselect:hover {
    background:#cef;
}
#cview .yearbox .yearselect.active {
    background:#cef;
}
#cview .yearbox .yearselect > div {
    font-size:13px;
    display: inline-block;
}
#cview .yearbox .yearselect .year {
    width:80px;
}
#cview .yearbox .yearselect .votes {
    width:90px;
}
#cview .yearbox .yearselect .votes::after { content: " votes"; }
#cview .yearbox .yearselect .population {
    width:130px;
}
#cview .yearbox .yearselect .population::before {
    content:"/";
    margin-right:10px;
}
#cview .yearbox .yearselect .population::after { content: " people"; }


#cview .analytics {
    margin-top:0;
}
#cview .analytics .fields {
    font-size:0;
    margin-top:15px;
}
#cview .analytics .field {
    width: 100%;
    display: block;
    font-size: 0;
    margin-bottom:7px;
}
#cview .analytics .field > div {
    display: inline-block;
    font-size:14px;
}
#cview .analytics .field .left {
    width: 200px;
    font-weight: 500;
}
#cview .analytics .field .right {
    width: calc(100% - 200px);
    font-weight: 300;
}


#cview .infoselects {
    width: calc(100% - 60px);
    margin-top:16px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.14);
    padding-bottom:6px;
}
#cview .infoselects .infoselect {
    display: inline-block;
    margin-left:3px;
    margin-right:20px;
    color:#777;
    cursor:not-allowed;
    font-weight: 300;
    font-family: Raleway;
}
#cview .infoselects .infoselect.ok {
    color:#000;
    cursor:pointer;
    position: relative;
}
#cview .infoselects .infoselect.ok.active {
    color:#007;
}
#cview .infoselects .infoselect::after {
    content:" ";
    font-size: 0;
    position: absolute;
    left:0;
    width:100%;
    height:1px;
    background:rgba(0, 0, 100, 0.5);
    transition: all 0.2s ease-out;
    opacity:0;
    bottom:-4px;
}
#cview .infoselects .infoselect.ok.active::after {
    opacity:1;
    bottom:0px;
}

#cview .infos {

}
#cview .infos .info {
    margin-top:12px;
    display: none;
}
#cview .infos .info.active {
    display: block;
}



#cview .info {
    padding:0 5px;
}
#cview .info .lrfield {
    width: 100%;
    display: block;
    font-size: 0;
    margin-top:7px;
}
#cview .info .lrfield > div {
    display: inline-block;
    width: 130px;
    font-size:15px;
}
#cview .info .lrfield .left {
    font-weight: 500;
}
#cview .info .lrfield .right {
    display: inline-block;
    width: calc(100% - 130px);
    font-weight: 300;
}
#cview .info .votes {
    margin-top:7px;
    margin-bottom:40px;
    font-size:0;
}
#cview .info .votes .label {
    font-size:15px;
    font-weight: 500;
}
#cview .info .votes .bar {
    position: relative;
    width:100%;
    height:30px;
    background:#ddd;
    margin-top:6px;
    white-space: nowrap;
    overflow: visible;
}
#cview .info .votes .bar > div {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width:0%;
    box-shadow:inset 0px 0px 2px 2px rgba(0,0,0,0.2);
    height: 100%;
}
#cview .info .votes .bar [DEM] { background:#55f; }
#cview .info .votes .bar [REP] { background:#d44; }
#cview .info .votes .bar [OTHER] { background:#ccc; }
#cview .info .votes .bar > div .hover {
    position: absolute;
    left:50%;
    top:100%;
    text-align: center;
    opacity:0;
    transition: all 0.2s ease-out;
    max-width:30px;
}
#cview .info .votes .bar > div:hover .hover {
    opacity:1;
    max-width:140px;
}
#cview .info .votes .bar > div .hover::before {
    display: inline-block;
    content:" ";
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid black;
    position: absolute;
    z-index:2;
    left:-8px;
}
#cview .info .votes .bar [DEM] .hover::before { border-bottom-color:#44d; }
#cview .info .votes .bar [REP] .hover::before { border-bottom-color:#d44; }
#cview .info .votes .bar [OTHER] .hover::before { border-bottom-color:#777; }
#cview .info .votes .bar > div .hover div {
    font-size:12px;
    font-weight: 300;
    line-height:15px;
    position: relative;
    z-index:1;
    left:-50%;
    top:8px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    padding:4px 8px 5px;
    color:#eee;
    overflow: hidden;
}
#cview .info .votes .bar [DEM] .hover div { background:#44d; }
#cview .info .votes .bar [REP] .hover div { background:#d44; }
#cview .info .votes .bar [OTHER] .hover div { background:#777; }


#credistrict .tabs {
    width: calc(100% - 60px);
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.14);
    height:28px;
}
#credistrict .rcontainers {
    width:100%;
    height:calc(100% - 28px);
}
#credistrict .rcontainer {
    width:100%;
    height:100%;
    overflow-x:hidden;
    overflow-y:auto;
    display: none;
    padding:15px 0 0;
}
#credistrict .rcontainer.show {
    display:block;
}
#credistrict .tabs .tab {
    display: inline-block;
    margin-left:3px;
    margin-right:20px;
    color:#000;
    cursor:pointer;
    position: relative;
    font-weight: 300;
    font-family: Raleway;
}
#credistrict .tabs .tab.active {
    color:#007;
}
#credistrict .tabs .tab::after {
    content:" ";
    font-size: 0;
    position: absolute;
    left:0;
    width:100%;
    height:1px;
    background:rgba(0, 0, 100, 0.5);
    transition: all 0.2s ease-out;
    opacity:0;
    bottom:-4px;
}
#credistrict .tabs .tab.active::after {
    opacity:1;
    bottom:0px;
}

#credistrict .constraint {
    margin-bottom:9px;
}
#credistrict .constraint .label {
    position: relative;
    width:100%;
    display: inline-block;
    font-size:13px;
}
#credistrict .constraint .label span {
    font-weight: 600;
}
#credistrict .constraint .label .reset {
    position: absolute;
    right:0;
    top:0;
    cursor: pointer;
    color:#666;
}
#credistrict .constraint .label .reset:hover { text-decoration: underline; }
#credistrict .constraint .slider {
    display: block;
    width: 100%;
    margin-top:1px;
}
#credistrict .colors {
    height:200px;
    overflow-y:auto;
}
#credistrict .colors .color.dummy {
    display: none;
}
#credistrict .colors .color {
    width:100%;
    font-size:0;
    padding:3px 0;
}
#credistrict .colors .reset {
    display: inline-block;
    vertical-align: middle;
    font-size:11px;
    margin-right:10px;
    cursor:pointer;
    color:#666;
}
#credistrict .colors .reset:hover {
    text-decoration: underline;
}
#credistrict .colors .enabled {
    display: inline-block;
    vertical-align: middle;
    font-size:11px;
    margin-right:10px;
    cursor:pointer;
    color:#666;
}
#credistrict .colors .enabled::before {
    content:"enabled";
}
#credistrict .colors .color.disabled {
    opacity:0.6;
}
#credistrict .colors .color.disabled .enabled::before {
    content:"disabled";
}
#credistrict .colors .enabled:hover {
    text-decoration: underline;
}
#credistrict .colors .c {
    display: inline-block;
    vertical-align: middle;
    margin-left:2px;
    margin-right:12px;
    width:20px;
    height:20px;
    cursor:pointer;
}
#credistrict .colors .c:hover {
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.16);
}
#credistrict .colors .name {
    display: inline-block;
    vertical-align: middle;
    font-size:14px;
    font-weight:400;
}

#credistrict .algorithm {
    padding-top: 1px;
}
#credistrict .button {
    font-size:13px;
    margin-right:10px;
}
#credistrict .algresults {
    display: none;
    margin-top:15px;
    height:calc(100% - 50px);
    overflow-y:auto;
}
#credistrict .algresults.show {
    display: block;
}
#credistrict .progressbar {
    position: relative;
    width: 100%;
    height:30px;
    border-radius:3px;
    overflow: hidden;
    background:#ddd;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.18);
}
@keyframes slideshow {
  0%    { left: -280px; }
  100%  { left: 0px; }
}
#credistrict .progressbar .progress {
    position: relative;
    width:0%;
    max-width: 100%;
    height:100%;
    background:#aca;
    box-shadow: inset 0px 0px 1px 1px rgba(30, 100, 30, 0.2);
}
#credistrict .progressbar .scrolling {
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    white-space: nowrap;
    height: 30px;
    font-size: 0;
    overflow: visible;
    animation: slideshow 4s linear infinite;
}
#credistrict .progressbar .scrolling.stop {
    animation-play-state: paused;
}
#credistrict .progressbar .scrolling > div {
    display: inline-block;
    width: 0;
    height: 0;
}
#credistrict .progressbar .scrolling > div.ul {
    border-top:30px solid #aaa;
    border-right:30px solid transparent;
    margin-right:10px;
}
#credistrict .progressbar .scrolling > div.br {
    border-bottom:30px solid #aaa;
    border-left:30px solid transparent;
}
#credistrict .changes {
    margin-top:15px;
    height:calc(100% - 45px - 15px - 220px);
    min-height:140px;
    overflow-y:scroll;
}
#credistrict .changes .change.dummy {
    display: none;
}
#credistrict .changes .change {
    width:100%;
    cursor:pointer;
    padding:5px 7px;
    transition: all 0.2s ease-out !important;
}
#credistrict .changes .change:hover {
    background:rgba(200, 200, 200, 0.6);
}
#credistrict .changes .change .mainline {
    font-size:10px;
    line-height:10px;
    font-weight:300;
}
#credistrict .changes .change .mainline > div {
    display: inline-block;
}
#credistrict .changes .change .mainline .precinct {
    font-weight:700;
}
#credistrict .changes .change .mainline .district1 {
    color:#444;
}
#credistrict .changes .change .mainline .district2 {
    font-weight:600;
}
#credistrict .changes .change .subline {
    margin: 2px 0 0 10px;
    font-size:10px;
    font-weight:300;
    color:#666;
}
#credistrict .changes .change .subline > div {
    display: inline-block;
}
#credistrict .changes .change .subline .compactness2 {
    color:#111;
}
#credistrict .updates {
    margin-top:15px;
    height:220px;
    font-weight:300;
}
#credistrict .updates .table {
    font-size:0;
}
#credistrict .updates .labels {
    font-weight:600;
    margin-top:2px;
}
#credistrict .updates .field1 {
    width: 240px;
    display: inline-block;
    font-size: 14px;
    font-weight:400;
}
#credistrict .updates .labels .field1 {
    font-weight:600;
}
#credistrict .updates .dc .field1 {
    padding-left:6px;
}
#credistrict .updates .before,
#credistrict .updates .after {
    width: 120px;
    display: inline-block;
    font-size: 14px;
}








